In [41]:
import pandas as pd
import numpy as np
import math as m

In [42]:
path="D:/Python/Machine Hack/Used Car/Participants_Data_Used_Cars/Data_Train.xlsx"

In [43]:
train_data=pd.read_excel(path)

In [44]:
train_data.head(10)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,Manual,First,21.1 km/kg,814 CC,55.2 bhp,5.0,NaN,2.35
6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95

In [45]:
test_data= pd.read_excel("D:/Python/Machine Hack/Used Car/Participants_Data_Used_Cars/Data_Test.xlsx")
Sample_submission= pd.read_excel("D:/Python/Machine Hack/Used Car/Participants_Data_Used_Cars/Sample_submission.xlsx")

In [46]:
test_data.head(10)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN
5,Mahindra XUV500 W8 2WD,Coimbatore,2016,85609,Diesel,Manual,Second,16.0 kmpl,2179 CC,140 bhp,7.0,NaN
6,Toyota Fortuner 4x2 AT TRD Sportivo,Pune,2015,59000,Diesel,Automatic,First,12.55 kmpl,2982 CC,168.7 bhp,7.0,NaN
7,Hyundai EON Era Plus,Jaipur,2013,65000,Petrol,Manual,First,21.1 kmpl,814 CC,55.2 bhp,5.0,NaN
8,Honda City 1.5 S MT,Mumbai,2011,66000,Petrol,Manual,Second,17.0 kmpl,1497 CC,118 bhp,5.0,NaN
9,Mahindra XUV500 W6 2WD,Coimbatore,2015,54684,Diesel,Manual,First,15.1 kmpl,2179 CC,140 bhp,7.0,NaN

In [47]:
test_data["Price"]=0

In [48]:
test_data["temp"]="test"
train_data["temp"]="train"
combi=pd.concat([train_data,test_data],axis=0)

In [49]:
print(combi.dtypes)
combi.describe()

Name                  object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage               object
Engine                object
Power                 object
Seats                float64
New_Price             object
Price                float64
temp                  object
dtype: object

              Year  Kilometers_Driven        Seats        Price
count  7253.000000       7.253000e+03  7200.000000  7253.000000
mean   2013.365366       5.869906e+04     5.279722     7.866665
std       3.254421       8.442772e+04     0.811660    10.796286
min    1996.000000       1.710000e+02     0.000000     0.000000
25%    2011.000000       3.400000e+04     5.000000     2.290000
50%    2014.000000       5.341600e+04     5.000000     4.650000
75%    2016.000000       7.300000e+04     5.000000     8.400000
max    2019.000000       6.500000e+06    10.000000   160.000000

In [75]:
combi.dtypes

Name                  object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage              float64
Engine               float64
Power                float64
Seats                float64
New_Price             object
Price                float64
temp                  object
dtype: object

In [57]:
combi["Mileage"]=pd.to_numeric(combi["Mileage"].str.replace("[^0-9.]","",regex=True))
combi["Engine"]=pd.to_numeric(combi["Engine"].str.replace("[^0-9.]","",regex=True))
combi["Power"]=pd.to_numeric(combi["Power"].str.replace("[^0-9.]","",regex=True))

In [58]:
categorical_columns= [x for x in combi.dtypes.index if combi.dtypes[x]=="object"]
cat_columns= [i for i in categorical_columns if i not in ["New_Price","temp","Name"]]
for i in cat_columns:
    print("Frequency of categories %s"%i)
    print(combi[i].value_counts(dropna=False))

Frequency of categories Location
Mumbai        949
Hyderabad     876
Coimbatore    772
Kochi         772
Pune          765
Delhi         660
Kolkata       654
Chennai       591
Jaipur        499
Bangalore     440
Ahmedabad     275
Name: Location, dtype: int64
Frequency of categories Fuel_Type
Diesel      3852
Petrol      3325
CNG           62
LPG           12
Electric       2
Name: Fuel_Type, dtype: int64
Frequency of categories Transmission
Manual       5204
Automatic    2049
Name: Transmission, dtype: int64
Frequency of categories Owner_Type
First             5952
Second            1152
Third              137
Fourth & Above      12
Name: Owner_Type, dtype: int64

In [88]:
combi.apply(lambda x:sum(x.isnull()))
#combi.isnull().sum(axis=0)

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 46
Power                 175
Seats                  53
New_Price            6247
Price                   0
temp                    0
dtype: int64

In [91]:
## There is so many missing values in new price, so not considerng it for the analysis.

(7253, 14)

In [92]:
## Transforming and encoding categorial variable based on the importance.
## As per business understanding,we know order of resale value based on fuel type. Diesel car is more costly then petrol, petrol
###is more costly then CNG.

In [96]:
combi["Fuel_Type_Num"]= combi["Fuel_Type"].map({"Electric":1,"LPG":2,"CNG":3,"Petrol":4,"Diesel":5})

In [100]:
## Based on owner_type we know first hand car will have higher price. We understand the order of resale value based on owner_type
## Using Different method for encoding
combi["Owner_Type_Num"]= np.where(combi["Owner_Type"]=="Fourth & Above",1,2)
combi.loc[combi["Owner_Type"]=="Second","Owner_Type_Num"]=3
combi.loc[combi["Owner_Type"]=="First","Owner_Type_Num"]=4

In [101]:
#### Automatic car resale price will be higher than manual

combi["Transmission_Num"]= np.where(combi["Transmission"]=="Manual",1,2)

In [103]:
combi["Years_Usage"]= 2019-combi["Year"]

In [105]:
Tier1_City = ["Mumbai","Delhi","Bangalore","Chennai","Kolkata","Hyderabad"]

In [106]:
combi["Tier_wise_class"]= np.where(combi["Location"].isin(Tier1_City),2,1)